body {
    color: white;
    background: #5c1182;
background: radial-gradient(circle,rgba(92, 17, 130, 1) 24%, rgba(175, 31, 237, 1) 36%, rgba(246, 242, 247, 1) 50%, rgba(130, 20, 204, 1) 74%, rgba(69, 20, 115, 1) 87%, rgba(182, 25, 250, 1) 100%);
    font-family: "Chakra Petch", sans-serif;
    margin-bottom: 100px;
}

header {
    border-bottom: solid 2px rgb(108, 14, 145);
    padding: 20px;
    font-size: 32px;
    color: rgb(11, 12, 14);
}

.chamada {
    background: rgb(184, 156, 213);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}

h1 {
    font-size: 40px;
}

p {
    font-size: 20px;
}

.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

.categoria {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
}

.categoria-videos img {
    opacity: 0.5;
    height: 200px;
}

.categoria-videos img:hover {
    opacity: 1.0;
    border: 3px solid rgb(115, 16, 253);
}

.categoria h2 {
    color: rgb(0, 0, 0);
}
